.selected-tag {
    background-color: green;
}

.frmSearch {
    border: 1px solid #a8d4b1;
    background-color: #c6f7d0;
    margin: 2px 0px;
    padding: 40px;
    border-radius: 4px;
}

#country-list {
    float: left;
    list-style: none;
    margin-top: -3px;
    padding: 0;
    width: 400px;
    position: absolute;
}

#country-list li {
    padding: 10px;
    background: #f0f0f0;
    border-bottom: #bbb9b9 1px solid;
}

#country-list li:hover {
    background: #ece3d2;
    cursor: pointer;
}

#search-box {
    padding: 10px;
    border: #a8d4b1 1px solid;
    border-radius: 4px;
    width: 400px;
}

.frmSearch-quality {
    border: 1px solid #cbd4d3;
    background-color: #ebf7f0;
    margin: 2px 0px;
    padding: 3px;
    border-radius: 4px;
}

#quality-list {
    float: left;
    list-style: none;
    margin-top: -3px;
    padding: 0;
    width: 400px;
    position: absolute;
}

#quality-list li {
    padding: 10px;
    background: #f0f0f0;
    border-bottom: #bbb9b9 1px solid;
}

#quality-list li:hover {
    background: #ece3d2;
    cursor: pointer;
}

#search-box-quality {
    padding: 10px;
    border: #d0cfd4 1px solid;
    border-radius: 4px;
    width: 400px;
}