<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Spring Security Tutorial</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <form th:action="@{/registration}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
        </form>
        <button id="button" type="button"> Submit Spring</button>
        <button id="button2" type="button"> Submit to SpringBoot</button>


        <script>
            $('#button').click(function () {
                console.log('aa');


                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "http://localhost:8080/icims/assesss",
                    // "url": "http://37.25.103.228:8082/icims/assesss",
                    "method": "POST",
                    "headers": {
                        "content-type": "application/json"
                    },
                    "processData": false,
                    "data": " {\n    \"returnUrl\": \"https://jobs-customername.icims.com/jobs/11125/customer-service-rep-1/assessment?i=1\",\n    \"customerId\": \"340\",\n    \"userId\": \"350677\",\n    \"links\": [{\n        \"title\": \"Applicant Workflow\",\n        \"rel\": \"applicantWorkflow\",\n        \"url\": \"https://api.icims.com/customers/340/applicantworkflows/504031\"\n    }, {\n        \"title\": \"Job Profile\",\n        \"rel\": \"job\",\n        \"url\": \"https://api.icims.com/customers/340/jobs/11125\"\n    }, {\n        \"title\": \"Person Profile\",\n        \"rel\": \"person\",\n        \"url\": \"https: //api.icims.com/customers/340/people/350677\"\n    }, {\n        \"title\": \"Posting User\",\n        \"rel\": \"user\",\n        \"url\": \"https://api.icims.com/customers/340/people/350677\"\n    }],\n    \"eventType\": \"ApplicationCompletedEvent\",\n    \"systemId\": \"504031\"\n}"
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                });



            });
            $('#button2').click(function () {
                console.log('aa');


                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "http://localhost:8383/icims/assesss",
                    // "url": "http://37.25.103.228:8082/icims/assesss",
                    "method": "POST",
                    "headers": {
                        "content-type": "application/json"
                    },
                    "processData": false,
                    "data": " {\n    \"returnUrl\": \"https://jobs-customername.icims.com/jobs/11125/customer-service-rep-1/assessment?i=1\",\n    \"customerId\": \"340\",\n    \"userId\": \"350677\",\n    \"links\": [{\n        \"title\": \"Applicant Workflow\",\n        \"rel\": \"applicantWorkflow\",\n        \"url\": \"https://api.icims.com/customers/340/applicantworkflows/504031\"\n    }, {\n        \"title\": \"Job Profile\",\n        \"rel\": \"job\",\n        \"url\": \"https://api.icims.com/customers/340/jobs/11125\"\n    }, {\n        \"title\": \"Person Profile\",\n        \"rel\": \"person\",\n        \"url\": \"https: //api.icims.com/customers/340/people/350677\"\n    }, {\n        \"title\": \"Posting User\",\n        \"rel\": \"user\",\n        \"url\": \"https://api.icims.com/customers/340/people/350677\"\n    }],\n    \"eventType\": \"ApplicationCompletedEvent\",\n    \"systemId\": \"504031\"\n}"
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                });



            })
        </script>
        <div class="container">
            <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo"/>
            <form id="login-form" th:action="@{/web/mylogin}" method="POST" class="form-signin">
                <h3 class="form-signin-heading" th:text="Welcome"></h3>
                <br/>

                <input type="text" id="email" name="email" th:placeholder="Email"
                       class="form-control"/> <br/>
                <input type="password" th:placeholder="Password"
                       id="password" name="password" class="form-control"/> <br/>

                <div align="center" th:if="${param.error}">
                    <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
                </div>
                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="button"
                        id="login_button"
                        th:text="Login"></button>
            </form>
        </div>
    </body>
    <script>
        $('#login_button').click(function () {

            var formData = {
                'email': $('input[name=email]').val(),
                'password': $('input[name=password]').val()
            };

            $.ajax({
                url: "web/jwt/login",
                type: 'post',
                contentType: 'application/json',
                data: '{"email":"'+$('input[name=email]').val()+'","password":"'+$('input[name=password]').val()+'"}',
                success: function (res, status, xhr) {
                    console.log(xhr.getResponseHeader("Authorization"));
                    localStorage.setItem('Authorization', xhr.getResponseHeader("Authorization"));
                    $('#login-form').submit();
                }
            });


        });
    </script>
</html>